.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
}

.pic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #2c0d00;
}

.amount {
  font-weight: bold;
  padding: 2px 2px;
  margin-top: 5px;
  border-radius: 6px;
  color: #363636;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(189, 55, 55);
  border: 1px solid rgb(190, 63, 63);
  width: 2rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #8a2b06;
  color: white;
}

.pic img {
  width: 150px;
  height: 150px;
  padding-left: 0%;
}
.roo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
