.form {
  text-align: right;
}

.form button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgb(248, 31, 31);
  color: white;
  padding: 5px 15px;

  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}
.form button:hover,
.form button:active {
  background-color: rgb(255, 6, 6);
}
